<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
</head>
<body>

	<header th:fragment="cabecalho">
	
		<nav class="navbar navbar-inverse navbar navbar-dark bg-secondary fixed-top">
		
			<div class="container-fluid">
			
				<div class="navbar-header">
					<button type="button" class="btn btn-secondary navbar-toggle ">
						<span class="navbar-toggler-icon"></span>
					</button>
					<img alt="" src="image/logo.png" width="13%">
					<a class="navbar-brand" href="#"> Horus - Tech	</a>
					
				</div>
				
				
				
				
			</div>
				
		</nav>
	</header>

</body>
</html>


<!-- pull-left -->